.app-title {
  color: white;
  font-size: larger;
  background-image: url('assets/background2.png');
  background-size: cover;  
  background-position: center; 
  height: 70vh;  
  width: 100%; 
}

.section {
  height: 100vh; /* Make each section occupy the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}