.app-title {
  color: white;
  font-size: larger;
  background-image: url('assets/background2.png');
  background-size: cover;  
  background-position: center; 
  height: 70vh;  
  width: 100%; 
}

.section {
  scroll-snap-align: start; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 2;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}