#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.app-title {
  color: white;
  font-size: larger;
  background-image: url('assets/background2.png');
  background-size: cover;  
  background-position: center; 
  height: 70vh;  
  width: 100%; 
}